@use "../../base" as *;

.nav-items {
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  height: 100vh;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  background-color: $clr-neutral-100;
  box-shadow: 0 0 50rem $clr-neutral-300;
}

.open-menu,
.close-menu {
  cursor: pointer;
}

.close-menu {
  align-self: flex-end;
}
