@use "../../base" as *;

main {
  .hero-imgs {
    .hero-imgs-desktop {
      display: none;
    }
  }
  .hero {
    text-align: center;
    h1 {
      margin-block-start: 1rem;
      font-size: clamp($fs-heading-sm, 8vw, $fs-heading-lg);
    }
    p {
      line-height: 1.6;
      color: $clr-neutral-200;
    }
    .btn-hero {
      background: $clr-neutral-300;
      color: $clr-neutral-100;
      border: 1px solid $clr-neutral-300;
      margin-inline: auto;
      &:hover {
        background: transparent;
        color: $clr-neutral-300;
      }
    }

    .hero__icons {
      margin-block: 2rem;
      justify-content: space-between;
      #databiz,
      #client-meet,
      #client-maker {
        width: 4rem;
      }
      #audiophile {
        width: 2.5rem;
      }
    }
  }
}
