@use "base" as *;

@media (min-width: 730px) {
  header {
    align-items: center;

    #logo {
      margin-block-start: 0.7rem;
    }
  }

  nav {
    width: 100%;
    margin-inline-start: 5rem;

    .open-menu,
    .close-menu {
      display: none;
    }

    .nav-items {
      justify-content: space-between;
      align-items: center;
      padding: 0;
      width: 100%;
      gap: 2rem;
      position: inherit;
      display: flex;
      flex-direction: row;
      height: auto;
      background-color: none;
      box-shadow: none;

      .links {
        flex-direction: row;
        gap: 3rem;

        .dropdown-container {
          position: relative;

          &:hover {
            .dropdown {
              display: flex;
            }
          }

          .dropdown {
            width: max-content;
            position: absolute;
            top: 2rem;
            right: 0;
            padding: 1rem 1.5rem;
            background-color: $clr-neutral-100;
            box-shadow: 0.2rem 0.2rem 1rem -0.3rem $clr-neutral-300;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
          }
        }
      }

      .btns {
        width: max-content;
        gap: 1rem;
      }
    }

    .btns {
      flex-direction: row;
    }
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    padding-inline: 10rem;
    max-height: 90vh;

    .hero-imgs {
      .hero-imgs-mobile {
        display: none;
      }
      .hero-imgs-desktop {
        display: block;
      }
    }
  }
}
